:root {
    --loader-text-color: #f6e9fe;
    --loader-dot-color: #ee0c0c;
    --loader-bg: #100319;
}

svg {
    width: 20rem;
    font-weight: 700;
}

svg text {
    font-size: 5rem;
    stroke-width: 1;
    letter-spacing: -2px;
}

svg text.text-body {
    stroke: var(--loader-text-color);
    animation: 4s animate-stroke alternate ease-in-out infinite;
}

svg text.dot {
    fill: var(--loader-dot-color);
    stroke: var(--loader-dot-color);
    animation: 4s animate-dot alternate ease-in-out infinite;
}

@keyframes animate-stroke {
    0% {
        fill: transparent;
        stroke: var(--loader-text-color);
        stroke-width: 1;
        stroke-dasharray: 0 32%;
        stroke-dashoffset: 25;
    }
    50% {
        fill: transparent;
        stroke: var(--loader-text-color);
        stroke-width: 3;
        stroke-dasharray: 50% 0;
        stroke-dashoffset: 0;
    }
    80%,
    100% {
        fill: var(--loader-text-color);
        stroke: 20;
        stroke-width: 0;
        stroke-dasharray: 32 0%;
        stroke-dashoffset: -25%;
    }

}

@keyframes animate-dot {
    0%,
    50% {
        fill: var(--loader-dot-color);
        opacity: 0; 
    }
    80%,
    100% {
        fill: var(--loader-dot-color);
        opacity: 1;
    }
    
}