/* format the navbar with transparent background, white font that animates to grey on hover */

:root {
    --def-transition-duration: .2s; /* default transition duration */
    --def-transition-duration2: .1s; /* default transition duration */

    --color-background: #0c0c0e;
    --color-current-background: #4d5d77;

    --color-text: #e3e5e9;
    --color-highlight-text: #C5466B;
    --color-text-background: #5d636e;

    --color-presentation-background: #b1b1b1;

    --white: #fff;
    --white-50: rgba(255, 255, 255, .5);
    --white-20: rgba(255, 255, 255, .2);
    --white-5: rgba(255, 255, 255, .05);
    --accent: #BF4700;
    --gray: #0E0E0E;
}

html {
    font-size: 14px;
    font-family: 'Figtree', sans-serif;
    line-height: 1.5;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 3%;
    margin: 0;
    display: flex;
    gap: 3rem;
    align-items: right;
    justify-content: right;
}

nav ul a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.5rem;
    white-space: nowrap;
}

nav ul a:hover {
    color: var(--color-highlight-text);
    transition: var(--def-transition-duration);
}