/* This design is inspired by Zed Dash's project */
/* https://codepen.io/z-/pen/OBPJKK */

:root {
    --def-transition-duration: .2s; /* default transition duration */
    --def-transition-duration2: .1s; /* default transition duration */

    --color-opened-background: #292B57;
    --color-closed-background: #293A57;
    --color-box-background: #0c0c0ecb;
    --color-reading-background: #0c0c0ed3;

    --color-text: #e3e5e9;
    --color-background: #0c0c0e;
    --color-background-hl: #1a1a1f;
}

/* define overall accordion properties */
.accordion {
    width: 90vw; /* Use viewport width */
    margin: auto; /* Use viewport height */
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

/* closed items and default attributes */
.accordion--item {
    background-color: var(--color-closed-background);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150%;
    border-radius: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 7vw;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 1rem 1rem 2rem var(--color-background-hl);
    outline: var(--color-background) solid 0.3rem;
}

.padding {
    opacity: 0;
}

/* Description of accordian item */
.Heading {
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    writing-mode: vertical-lr;
    width: 20rem;
    height: 20rem;
    text-align: center;
}

.Heading_box {
    background-color: var(--color-box-background);
    outline: var(--color-background) solid 0.2rem;
    border-radius: 1rem;
    height: 20vw;
}

/* Description */
.readings {
    width: fit-content;
    height: 10vw;
    opacity: 0;
}

.readings p {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 50;
    font-family: 'quicksand', sans-serif;
}

.readings_box {
    background-color: var(--color-reading-background);
    padding: 1vw;
    border-radius: 1vw;
}

/* Opened Accordion item change values*/
.opened {
    background-color: var(--color-opened-background);
    flex-basis: 40vw;
    cursor: auto;
}

/* Animate text and content when oening and closing */
.accordion--item {
    transition: flex-basis, background-size, padding;
}

.accordion--item {
    background-size: cover;
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
}

.accordion--item .Heading {
    transition: align-self, transform, rotate;
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
}

.accordion--item:not(.opened) {
    background-size: cover;
    padding-block: 1rem;
    opacity: 0.5;
}

.accordion--item:hover:not(.opened) {
    transition: opacity;
    background-size: cover;
    padding-block: 1.1rem;
    opacity: 0.8;
}

.accordion--item:hover:not(.opened) {
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
}

.Heading,
.readings {
    transition: opacity, transform, rotate;
}

.readings {
    transform: translate3d(0rem,40vw,0rem);
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
}

.opened .readings {
    opacity: 1;
    transform: translate3d(0,0,0);
    transition-duration: var(--def-transition-duration);
    transition-delay: var(--def-transition-duration2);
    transition-timing-function: ease-in-out;
}

.opened .Heading {
    align-self: left;
    transform-origin: top left;
    rotate: -90deg;
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
}

.Heading {
    transform: translate3d(0,0,0);
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
}

.T1 {
    background-image: url(Images/T1.png);
}

.T2 {
    background-image: url(Images/T2.png);
}

.T3 {
    background-image: url(Images/T3.png);
}

.T4 {
    background-image: url(Images/T4.png);
}

.T5 {
    background-image: url(Images/T5.png);
}