
.figure {
    display: flex;
    /* debug show border  */
    /* border: 0.05vw solid var(--white-20); */
}

.image_media {
    /* content should be alligned in the middle vertically */
    display: flex;
    /* debug show border  */
    /* border: 0.05vw solid var(--white-20); */
}

.description_media {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.description_media a {
    color: var(--color-highlight-text);
    
}

/* only show the content that is active */
.content {
    display: none;
}

.content.active {
    display: block;
}

#content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    /* show border  */
    /* debug show border  */
    /* border: 0.05vw solid var(--white-20); */
}

.division {
    display: grid;
    align-items: center;
    /* show border  */
    /* debug show border  */
    /* border: 0.05vw solid var(--white-20); */
}

.division img {
    display: block;
    max-width: 600;
    max-height: 600;
    /* rounded corner */
    border-radius: 3vw;
    /* boarder outline */
    /* border: 0.05vw solid var(--white-20); */
}

.division video {
    display: block;
    object-fit: cover;
    z-index: 4;
    max-width: 600;
    max-height: 600;
}

.entry figure {
    background-color: var(--white-5);
    display: flex;
    justify-content: center;
}